/* Holberton Requirements */
body, main {
    display: flex;
}

article, aside {
    overflow-y: auto;
}

body {
    flex-direction: column;
}

main {
    flex: auto;
    flex-direction: row;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

/* Personalization */

a {
    color: #e0003c;
}

.nav-item:hover {
    display: inline-block;
    color: #e0003c;
    border-bottom: 1px solid #e0003c;
    padding-bottom: 3px;
}

header div.row {
    display: flex;
}

div.logo-area {
    padding: 5px;
}

img.logo {
    width: 50px;
}

article img {
    margin-bottom: 25px;
}

article div.twitter-widget {
    max-height: 400px;
    margin-bottom: 20px;
}

footer a:hover {
    color: #e0003c;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #e0003c;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #e0003c;
    color: white;
    margin: 10px 0;
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    float: right;
}